VITE_AUTH_REMOTE_URL= auth remote url
VITE_DASHBOARD_REMOTE_URL=dashboard remote url
VITE_MARKETING_REMOTE_URL=marketing remote url
VITE_SETTINGS_REMOTE_URL=settings remote url
VITE_SHARED_REMOTE_URL= shared remote url
